$breakpoints: (
large: 1199px 
);
$blue1: #bbdefb;
$blue2: #90caf9;
$blue3: #64b5f6;
$blue4: #42a5f5;
$blue5: #1976d2;
$blue6: #1565c0;
$blue7: #1a237e;
$green: green;
$black: #000000;
$white: #ffffff;
$grey-transparent: rgb(144, 164, 174, .2);
$grey-solid: #e9edef;
$box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
$box-shadow-img: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$drop-shadow: drop-shadow(5px 5px 5px #222);